body {
  font-family: "Roboto", sans-serif;
}

.table {
  width: 800px;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px;
}
.tableHead {
  background-color: rgb(45, 45, 45);
  color: white;
  height: 40px;
  font-size: 18px;
}
.tableBody {
  background-color: rgb(240, 240, 240);
  height: 40px;
  font-size: 16px;
}
.table th,
.table td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.tableBody tr:nth-child(odd) {
  background-color: #ababab;
  height: 40px;
  border: 1px solid black;
}

.tableBody tr:nth-child(even) {
  background-color: white;
  height: 40px;
  border: 1px solid black;
}
